@page "{id}/{otherId}"
@RouteData.Values["title"]
@model CatFishingWebSite.Pages.Match.indexModel
@{
    ViewData["Title"] = "index";

}

<h1>@Model.errorMessage</h1>
<div class="container">
    <div class="row"><br /></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            @if (CatFishingWebSite.Model.CookieModel.count % 3 == 2)
            {
                <h5>你好！ >>> </h5>
            }
            else if (CatFishingWebSite.Model.CookieModel.count % 3 == 1)
            {<h5>Sveiki ! >>></h5> }
            else
            {
                <h5>Say Hello to ! >>> </h5>
            }

        </div>
        <div class="col-md-3">
            <h2> @Html.DisplayFor(model => model.fisher.Username)</h2>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row"><br /></div>
    <div class="row"><br /></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            @if (Model.fisher.Gender.Contains("M") && CatFishingWebSite.Model.CookieModel.count % 2 == 0)
            {
                <img width="270" src="~/images/boy1.png" /> }
            else if (Model.fisher.Gender.Contains("M") && CatFishingWebSite.Model.CookieModel.count % 2 != 0)
            {
                <img width="270" src="~/images/boy2.png" />

            }
            else if (Model.fisher.Gender.Contains("F") && CatFishingWebSite.Model.CookieModel.count % 2 != 0)
            {
                <img width="270" src="~/images/girl1.png" />
            }
            else if (Model.fisher.Gender.Contains("F") && CatFishingWebSite.Model.CookieModel.count % 2 == 0)
            {
                <img width="270" src="~/images/girl2.png" />
            }
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row"><br /></div>
    <div class="row"><br /></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5 "> <h6 class="text-center">@Html.DisplayFor(model => model.fisher.Description)</h6> </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">First name :  @Html.DisplayFor(model => model.fisher.FirstName)</div>
        <div class="col-md-3">age :  @Html.DisplayFor(model => model.fisher.Age)</div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">Gender : @Model.gend </div>
        <div class="col-md-3">Sexual orientation : @Model.sexp</div>
        <div class="col-md-3"></div>
    </div>
    <div class="row"><br /></div>
    <div class="row"><br /></div>
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-2">
            <form method="post" asp-page-handler="Refuse"><input type="image" src="~/images/refuse.png" name="Reject" id="Matchbutton" title="Reject" /></form>
        </div>
        <div class="col-md-2">
            <form method="post" asp-page-handler="Like">  <input type="image" src="~/images/love.png" name="Like" id="Matchbutton" title="Like" /></form>
        </div>
        <div class="col-md-2">
            <form method="post" asp-page-handler="Skip"> <input type="image" src="~/images/skip.png" name="Skip" id="Matchbutton" title="Skip" /></form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>



