@page "{id}"
@model CatFishingWebSite.Pages.AccountManage.indexModel
@{
    ViewData["Title"] = "index";
}

    <h1> Your  account detail  </h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fisher.FirstName)
           
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fisher.FirstName)
      
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fisher.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fisher.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fisher.Gender)
        </dt>
        <dd class="col-sm-10">
            @Model.Gend
        </dd>
        <dt class="col-sm-2">
            Sexual orientation：
        </dt>
        <dd class="col-sm-10">
            @Model.SexP
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fisher.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fisher.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fisher.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Model.isAct
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fisher.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fisher.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.fisher.id">Edit </a>|
    <a asp-page="./History" asp-route-id="@Model.fisher.id"> History</a>

</div>

